In [1]:
#Import Libraries
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Insert data into Pandas Dataframe
df = pd.read_csv('forestfires.csv', na_values = ":", usecols = ['FFMC', 'DMC', 'temp', 'RH'])

#Verify if the dataframe is correct
df.head()

   FFMC   DMC  temp  RH
0  86.2  26.2   8.2  51
1  90.6  35.4  18.0  33
2  90.6  43.7  14.6  33
3  91.7  33.3   8.3  97
4  89.3  51.3  11.4  99